@media screen and (max-width: 1000px){
    .photo-me {
        grid-column: 2 / 20;
    }

    .photo-info{
        grid-column: 2 / 20;
        }
    
    .modal-content {
        width: 100%;
    }
}

@media screen and (min-width: 1000px){
    .photo-me {
        grid-column: 1 / 10;
    }

.photo-info{
    grid-column: 11 / 21;
    margin: auto;
    }
}

body{
    margin: 0;
    background: #f7f3ed;
    background: white;
}

.main-nav{
    font-family: 'Noto Serif SC', sans-serif;
    color: #b3b3b3;
    z-index: 200;
    width: 100%;
    padding: 20px;
    height: 20px;
    grid-column: 1 / 21;
    position: fixed;
    top: 0;
}
.nav-content{
    position: relative;
    width: 100%;
}
.nav-logo{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 25px;
}
.hamburger{
    vertical-align: middle;
    height: 120%;
    cursor: pointer;
    position: absolute;
    right: 30;
    z-index: 300;
    
}
.page-title{
    font-family: 'Noto Serif SC', sans-serif;
    font-weight: 700;
    grid-column: 3 / 19;
    color: #282828;
    background: rgb(27,255,182);
    font-size: 150%;
    margin-top: 100px;
    text-align: center;
    padding: 50px 10;
    margin-bottom: 100px;
}
.about-photography{
    display: grid;
    grid-template: auto / repeat(20, 1fr);
    padding: 50px;
    padding-top: 100px; 
}

.photo-me > img{
    width: 100%;
    margin: auto;
    align-self: center;
}

.photography-title{
    font-family: 'Noto Serif SC', sans-serif;
    font-size: 150%;
    font-weight: 700;
    color: #282828;
    margin: auto; 
    border: dotted thin rgba(256, 256, 256, .5);
    padding: 25px;
    width: 40%;
    margin-top: 275px;
}

.tagline{
   color: rgb(42, 214, 208); 
}

.photography-header{
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 5%;
    height: 100vh;
}


.photo-info{
    font-family: 'Noto Serif SC', sans-serif;
    text-align: left;
    font-size: 100%;
    line-height: 1.8;
    padding: 30px;
    /*border: dotted #f2f2f2 3px;*/
    align-self: baseline;
    color: #4a4a4c;    
    
}

.project-section-title{
    color: rgb(42, 214, 208);
}
.img-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.photo-description-container{
    display: grid;
    grid-column: 2 / 20;
    grid-template: auto / repeat(20, 1fr);
    margin: 80px 0px;
    border-bottom: dotted #e6e6e6 3px;
    padding-bottom: 150px;
}

.img-container > div > img {
    width: 100%;
    object-fit: cover;
    align-self: center;
}
.img-container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 60px;
    padding: 50px;
    grid-auto-flow: dense;
}
#photography-container{
    display: grid;
    grid-template: auto / repeat(20,1fr);
    grid-gap: 0px;
}
.horizontal{
    grid-column: span 2;
}
.vertical{
}
.big-v{
    grid-column: span 2;
    grid-row: span 2;
}
.img-container img {
    cursor: pointer;
    transition: 0.3s;
}

.img-container img:hover {
    opacity: 0.7;
}

#myModal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px; 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(.5)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 70px;
    right: 25px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    background: none;
    border: none;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



.contact-container{
    margin-top: 100px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    background: #282828;
    
}

.contact-table{
    font-family: 'Noto Serif SC', sans-serif;
    color: #f2f2f2;
    margin-right: -10px;
}
.contact-labels{
    border-right: 1px solid;
    padding: 10px;
}

td a{
    color: #f2f2f2;
    text-decoration-color: rgba(255,200,0,1);
    text-decoration-style: wavy;
}

.contact-title{
    font-family: 'Noto Serif SC', sans-serif;
    font-size: 200%;
    font-weight: 700;
    z-index: 2;
    color: #f2f2f2;         
    margin-right: auto;
    text-align: center;
}

