@media screen and (max-width: 640px){
    
    .project-header{
        height: 90vh;
    }
    
    .description-container{
        grid-column: 1 / -1;
    }
    
    .problem-container{
        grid-column: 1 / -1;
    }
    
    .project-section-title{
        grid-column: 2 / 20;
    }
    
    .description-text{
        grid-column: 3 / 19;
    }
    
    .problem-text{
        grid-column: 2 / 20;
    }
    
    .img-caption{
        grid-column: 1 / 21;
        padding: 0px 50px;
    }
    
    .pain-points{
        grid-column: 3 / 19;
        padding: 20px;
    }
    
    .pain-points-text{
        width: 80%;
    }
    
    
    .lp-screenshot{
        grid-column: 1 / -1;
        width: 100%;
        margin: auto;
    }
    
    #lp-macbook{
        grid-column: 1 / -1;
        width: 80%;
        margin: auto;
    }
    
    #lp-logo{
        grid-column: 1 / -1;
        width: 70%;
        margin: auto;
        background: #f2f2f2;
        padding: 40px;
        margin-bottom: 50px;
        
    }
    
    .half-screenshot1{
        grid-column: 2 / 20;
        width: 100%;
        margin: auto;
    }
    
    .half-screenshot2{
        grid-column: 2 / 20;
        width: 60%;
        margin: auto;
        margin-top: 50px;
    }
    
    .course-description-img{
        grid-column: 2 / 20;
        width: 50%;
        margin: auto;
    }
    
    .future{
        grid-column: 3 / 19;
        padding: 20px;
        padding-bottom: 50px;
        margin-bottom: 150px;
    }
}

@media screen and (min-width: 640px) and (max-width: 900px){
    
    .project-header{
        height: 90vh;
    }
    
    .description-container{
        grid-column: 4 / 18;
    }
    
    .problem-container{
        grid-column: 3 / 19;
    }
    
    .project-section-title{
        grid-column: 4 / 18;
    }
    
    .description-text{
        grid-column: 4 / 18;
    }
    
    .problem-text{
        grid-column: 4 / 18;
    }
    
     .lp-screenshot{
        grid-column: 1 / -1;
        width: 100%;
        margin: auto;
    }
    
    .img-caption{
        grid-column: 4 / 18;
        padding: 0px 50px;
    }
    
    .pain-points{
        grid-column: 3 / 19;
        padding: 20px;
    }
    
    .pain-points-text{
        width: 60%;
    }
    
    
    #lp-macbook{
        grid-column: 1 / -1;
        width: 60%;
        margin: auto;
    }
    
    #lp-logo{
        grid-column: 1 / -1;
        width: 60%;
        margin: auto;
        background: #f2f2f2;
        padding: 40px;
        margin-bottom: 50px;
    }
    
    .half-screenshot1{
        grid-column: 2 / 20;
        width: 100%;
        margin: auto;
    }
    
    .half-screenshot2{
        grid-column: 2 / 20;
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }
    
    .course-description-img{
        grid-column: 2 / 20;
        width: 30%;
        margin: auto;
    }
    
    .future{
        grid-column: 3 / 19;
        padding: 60px;
        padding-bottom: 70px;
        margin-bottom: 150px;
        
    }
}

@media screen and (min-width: 900px){
    
    .project-header{
        height: 90vh;
    }
    
    .description-container{
        grid-column: 5 / 17;
    }
    
    .problem-container{
        grid-column: 3 / 19;
    }
    
    .project-section-title{
        grid-column: 3 / 19;
    }
    
    .description-text{
        grid-column: 4 / 18;
    }
    
    .problem-text{
        grid-column: 3 / 19;
    }
    
    .img-caption{
        grid-column: 6 / 16;
        padding: 0px 60px;
    }
    
     .lp-screenshot{
        grid-column: 1 / -1;
        width: 80%;
        margin: auto;
    }
    
    .pain-points{
        grid-column: 3 / 19;
        padding: 50px;
    }
    
    .pain-points-text{
        width: 45%;
    }
    
    .lg-half-img1{
        grid-column: 2 / 20;
    }
    .lg-half-img2{
        grid-column: 2 / 20;
    }
    
    #lp-macbook{
        grid-column: 1 / -1;
        width: 40%;
        margin: auto;
    }
    
    #lp-logo{
        grid-column: 1 / -1;
        width: 30%;
        margin: auto;
        background: #f2f2f2;
        padding: 40px;
        margin-bottom: 50px;
    }
    
    .half-screenshot1{
        grid-column: 2 / 10;
        width: 100%;
        margin: auto;
    }
    
    .half-screenshot2{
        grid-column: 10 / 20;
        margin: auto;
        margin-top: 50px;
        width: 60%;
    }
    
    .course-description-img{
        grid-column: 2 / 20;
        width: 30%;
        margin: auto;
    }
    
    .future{
        grid-column: 3 / 19;
        padding: 60px;
        padding-bottom: 70px;
        margin-bottom: 150px;
        
    }
}

body{
    transition: all .5s;
    background: #d4d6db;
    margin: 0px;
    background: white;
}

#lp-container{
    display: grid;
    grid-template: auto / repeat(20, 1fr);
}

.main-nav{
    font-family: 'Ubuntu', sans-serif;
    color: #b3b3b3;
    z-index: 200;
    width: 100%;
    padding: 20px 0px;
    margin-left: -22px;
    grid-column: 1 / 21;
    position: sticky;
    top: 0px;
    background: white;    
    box-shadow: 0px 3px 3px rgba(0,0,0,.1);
}
.nav-content{
    position: relative;
    width: 100%;
}
.nav-logo{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    margin-left: 40px;
}
.hamburger{
    vertical-align: middle;
    height: 120%;
    cursor: pointer;
    position: absolute;
    right: 30px;
    z-index: 300;
    
}

.project-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 150%;
    font-weight: 700;
    color: white;
    margin: auto; 
    border: dotted thin rgba(256, 256, 256, .2);
    padding: 25px;
    width: 40%;
    margin-top: 200px;
}

.tagline{
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    color: white;
    margin: auto;
    margin-top: -1px;
    border: dotted thin rgba(256, 256, 256, .2);
    border-top: none;
    padding: 10px 25px 12px 25px;
    width: 40%;
}

.project-header{
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 5%;
    background: rgb(2,0,36);
    background: linear-gradient(126deg, rgba(7,0,129,1) 0%, rgba(0,123,255,1) 100%);
    box-shadow: 0px 2px 5px rgba(0,0,0,.5);
}

.description-container{
    display: grid;
    grid-template: auto / repeat(20, 1fr);
}

.problem-container{
    display: grid;
    grid-template: auto / repeat(20, 1fr);
    border-bottom: dotted #f2f2f2 3px;
    padding-bottom: 200px;
}

.solution-container{
    grid-column: 1 / -1;
    display: grid;
    grid-template: auto / repeat(20, 1fr);
    padding-top: 150px;
}

.project-section-title{
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    font-size: 200%;
    font-weight: 700;
    z-index: 2;
    margin-top: 200px;
    color: rgba(0,123,255,1);
    width: 90%;
    margin-right: auto;
    text-align: left;
}

.description-text{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 100%;
    line-height: 140%;
    padding: 30px;
    margin-top: 150px;;
    /*border: dotted #f2f2f2 3px;*/
    color: #4a4a4c;    
    background: #fff;
    box-shadow: inset 1px 1px 6px rgba(0,0,0,.6);
}

.problem-text{
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    color: #4a4a4c;
    font-size: 110%; 
    margin-top: 0px;
    margin-bottom: 50px;
    line-height: 1.8;
    width: 90%;
    border-left: solid 2px rgba(0,123,255,1);
    padding-left: 20px;
}

.img-caption{
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #4a4a4c;
    font-size: 100%; 
}

.pain-points{
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    font-size: 100%; 
    margin-top: 150px;
    background: rgba(0,123,255,1);
    color: white;
}

.pain-points-title{
    font-weight: 700;
    text-align: center;
    font-size: 130%;
    padding: 20px;
}

.pain-points-text{
    font-size: 120%;
    margin: auto;
}

.solution-title{
    grid-column: 1 / -1;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    font-size: 180%;
    color: #4a4a4c;
    padding: 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.future-text{
    font-size: 120%;
    margin: auto;
}

.future{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 100%; 
    margin-top: 150px;
    background: rgba(0,123,255,1);
    color: white;
}

.menu {
  position: relative;
  right: 0px;
}

.menu-open .menu-side {
  right: 0px;
}

.menu-open,
.menu, .menu-side {
    -webkit-transition: right 0.5s;
    -moz-transition: right 0.5s;
    transition: right 0.5s;
    transition-timing-function: cubic-bezier(.72,.03,.51,.99)
    }

.menu-side {
    background-color: #333;
    border-right: 1px solid #000;
    color: #fff;
    position: fixed;
    top: 0px;
    right: -300px;
    width: 210px;
    height: 100%;
    padding: 10px;
    padding-top: 100px;
}

.menu-list a {
    color: #fff;
    text-decoration: none;
    font-size: 120%;
    font-weight: 300;
    line-height: 250%;
    transition: all .2s;
}

.menu-list a:hover {
    border-bottom: 5px solid white;
}

.menu-list li {
    list-style: none;
    text-align: right;
    margin-right: 30px;
}


.contact-container{
    margin-top: 100px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    background: #282828;
    
}

.contact-table{
    font-family: 'Ubuntu', sans-serif;
    color: #f2f2f2;
    margin-right: -10px;
}
.contact-labels{
    border-right: 1px solid;
    padding: 10px;
}

td a{
    color: #f2f2f2;
    text-decoration-color: rgba(255,200,0,1);
    text-decoration-style: wavy;
}

.contact-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 200%;
    font-weight: 700;
    z-index: 2;
    color: #f2f2f2;         
    margin-right: auto;
    text-align: center;
}

