

@media screen and (max-width: 767px){
    
    #welcome{
    padding: 60px;
    background: #ffdf63;
    background: linear-gradient(306deg, rgba(201,16,255,1) 0%, rgba(255,200,0,1) 90%);
    grid-column: 1 / 21;
    grid-row: 2 / 21;
    z-index: 1;
    display: grid;
    grid-template: auto / repeat(20,1fr);
    position: relative;
    box-shadow: 0px 2px 5px rgba(0,0,0,.5);
    
    }
    #welcome-message{
        grid-column: 2 / 20;
        align-self: center;
        padding-bottom: 50px;
        border-bottom: rgba(256,256,256,.4) solid thin;
    }
    .welcome-menu{
        grid-column: 2 / 20;
        text-align: center;
        align-self: center;
        font-size: 80%;
    }

    
    #lionplanner{   
        background: white;
        grid-column: 2 / 20;
        grid-row: 26 / 43;
        padding-bottom: 120px;
        border-bottom: dotted #f2f2f2 3px;
    }
    
    .project-section-title{
        grid-column: 3 / 19;
        grid-row: 22;
        font-family: 'Ubuntu', sans-serif;
        text-align: left;
        font-size: 200%;
        font-weight: 700;
        z-index: 2;
        color: #4a4a4c;         
        width: 90%;
        margin-right: auto;
        text-align: left;
    }
    
    .lp-ex-card-text{
        grid-column: 2 / 20;
        padding: 65px;
        background: #0c5bb0;
        background: linear-gradient(126deg, rgba(7,0,129,1) 0%, rgba(0,123,255,1) 100%);
    }
    
    .lp-ex-card-img{
        grid-column: 3 / 19;
        margin-bottom: -20%;
        z-index: 100;
    }
    
    .lp-ex-card-img img{
        width: 100%;
        }
    
    #roddy{   
        background: white;
        grid-column: 2 / 20;
        grid-row: 47 / 64;
        padding-top: 0px;
    }
    
    .rd-ex-card-text{
        grid-column: 2 / 20;
        padding: 45px;
        background: #E96324;
        background: linear-gradient(126deg, rgba(233,99,36,1) 0%, rgba(255,154,0,1) 100%);
    }
    
    .rd-ex-card-img{
        grid-column: 3 / 19;
        margin-bottom: -20%;
        z-index: 100;  
    }
    
    .rd-ex-card-img img{
        width: 100%;
        }
}


@media screen and (min-width: 767px){
    #welcome{
    padding: 60px;
    background: #ffdf63;
    background: linear-gradient(306deg, rgba(201,16,255,1) 0%, rgba(255,200,0,1) 90%);
    grid-column: 1 / 21;
    grid-row: 2 / 21;
    z-index: 1;
    display: grid;
    grid-template: auto / repeat(20,1fr);
    position: relative;
    box-shadow: 0px 2px 5px rgba(0,0,0,.5);
}
#welcome-message{
    grid-column: 2 / 12;
    align-self: center;
    padding-right: 80px;
    border-right: rgba(256,256,256,.4) solid thin;
}
.welcome-menu{
    grid-column: 14 / 20;
    text-align: left;
    align-self: center;
}
    
    .project-section-title{
        grid-column: 4 / 18;
        grid-row: 22;
        font-family: 'Ubuntu', sans-serif;
        text-align: left;
        font-size: 200%;
        font-weight: 700;
        z-index: 2;
        color: #4a4a4c;         
        width: 90%;
        margin-right: auto;
        text-align: left;
    }
    
    #lionplanner{
        background: white;
        grid-column: 4 /18;
        grid-row: 26 /41;
        padding-left: 40px;
        padding-bottom: 200px;
        border-bottom: dotted #f2f2f2 3px;
    }
    
    .lp-ex-card-text{
        background: #0c5bb0;
        background: linear-gradient(126deg, rgba(7,0,129,1) 0%, rgba(0,123,255,1) 100%);
        grid-column: 1 / 11;
        padding: 30%;
        grid-row: 1 / 3;
        align-self: center;
    }
    
    .lp-ex-card-img{
        grid-column: 11 / 21;
        grid-row: 1 / 3;
        margin-left: -20%;
        z-index: 100;
        align-self: center;
        margin-bottom: -10%;
        margin-top: 15%;
    }
    
    .lp-ex-card-img img{
        width: 95%;
        }
    .rd-ex-card-img img{
        width: 95%;
        }
    
    #roddy{
        background: white;
        grid-column: 4 /18;
        grid-row: 45 /60;
        padding-right: 40px;
        padding-top: 0px;
    }
    
    .rd-ex-card-text{
        background: #E96324;
        background: linear-gradient(126deg, rgba(233,99,36,1) 0%, rgba(255,154,0,1) 100%);
        grid-column: 11 / 21;
        padding: 25%;
        align-self: center;
    }
    
    .rd-ex-card-img{
        grid-column: 1 / 11;
        margin-right: -20%;
        z-index: 100;
        align-self: center;
        margin-bottom: -10%;
        margin-top: 15%;
    }
}


body{
    margin: 0px;
    transition: all 1s ease;
    background: #d4d6db;
    background: white;
}

.main-nav{
    font-family: 'Ubuntu', sans-serif;
    color: #b3b3b3;
    z-index: 200;
    width: 100%;
    height: 60%;
    padding: 20px 0px;
    grid-column: 1 / 21;
    position: sticky;
    top: 0px;
    background: white;
    box-shadow: 0px 3px 3px rgba(0,0,0,.1);
    z-index: 200;
}
.nav-content{
    position: relative;
    width: 100%;
}
.nav-logo{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 130%;    
    margin-left: 40px;
}
.hamburger{
    vertical-align: middle;
    height: 120%;
    cursor: pointer;
    position: absolute;
    right: 40px;
    bottom: 1px;
    z-index: 300;
    
}

#welcome-container{
    display: grid;
    grid-template: repeat(65, 5vh) / repeat(20,1fr);
    grid-gap: 0px;
    
}
.welcome-text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 180%;
    color: #282828;
    margin: 0;
}

h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 200%;
    color: white;
    margin: 0px;
}

h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 150%;
    color: white;
    margin: 0px;
}

h4{
    font-family: 'Neuton', serif;
    font-size: 140%;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}

h5{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    background: #282828;
    padding: 8px;
    margin: 0px;

}


.welcome-menu a {
    color: #282828;
    text-decoration: none;
    font-size: 120%;
    font-weight: 700;
    line-height: 250%;
    transition: all .2s;
    font-family: 'Ubuntu', sans-serif;

}

.welcome-menu a:hover {
    border-bottom: 5px solid white;
}

.welcome-menu li {
    list-style: none;
}

.scroll-arrow{
    width: 30px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    opacity: .7;
}

#lionplanner{
    align-content: space-around;
    position: relative;
    color: #4a4a4c;    
    background: #fff;
}
#roddy{
    color: #4a4a4c;    
    background: #fff;
}

.lp-ex-card-text{
    /* box-shadow: inset 2px 2px 12px rgba(0,0,0,.7);*/
    cursor: pointer;
    transition: all .7s;
    position: relative;
    box-shadow:  0px 0px 10px rgba(0,0,0,.6);
}

.rd-ex-card-text{
    /*box-shadow: inset 2px 2px 12px rgba(0,0,0,.5);*/
    cursor: pointer;
    transition: all .7s;
    position: relative;
    box-shadow:  0px 0px 10px rgba(0,0,0,.6);
}

.lp-ex-card-text:hover{
    box-shadow:  0px 0px 30px rgba(0,0,0,.6);    
}


.rd-ex-card-text:hover{
    box-shadow:  0px 0px 30px rgba(0,0,0,.6);
}

#lp-more-btn{
    background: #42c2f4;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -25px;
    left: 42%;
    box-shadow:  0px 0px 30px rgba(0,0,0,.3);
    color: white;
    cursor: pointer;
    transition: all .7s;
    
}
#lp-more-btn:hover, #rd-more-btn:hover{
    box-shadow:  0px 0px 50px rgba(0,0,0,.3);
}

#rd-more-btn{
    background: #ffbd19;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -25;
    left: 42%;
    box-shadow:  0px 0px 30px rgba(0,0,0,.3);
    color: white;
    cursor: pointer;
    transition: all .7s;
}

#pfizer{
    background: #0EC8AF;
    grid-column: 2 / 20;
    grid-row: 41 / 60;
    padding: 50px;
}

.experience-card{
    display: grid;
    grid-template: auto / repeat(20, 1fr);
    padding: 20px;
}


.menu {
  position: relative;
  right: 0px;
}

.menu-open .menu-side {
  right: 0px;
}

.menu-open,
.menu, .menu-side {
    -webkit-transition: right 0.5s;
    -moz-transition: right 0.5s;
    transition: right 0.5s;
    transition-timing-function: cubic-bezier(.72,.03,.51,.99)
    }

.menu-side {
    background-color: #272728;
    border-right: 1px solid #000;
    color: #fff;
    position: fixed;
    top: 0px;
    right: -300px;
    width: 210px;
    height: 100%;
    padding: 10px;
    padding-top: 100px;
}


.contact-container{
    margin-top: 100px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    background: #282828;
    
}

.contact-table{
    font-family: 'Ubuntu', sans-serif;
    color: #f2f2f2;
    margin-right: -10px;
}
.contact-labels{
    border-right: 1px solid;
    padding: 10px;
}

td a{
    color: #f2f2f2;
    text-decoration-color: rgba(255,200,0,1);
    text-decoration-style: wavy;
}

.contact-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 200%;
    font-weight: 700;
    z-index: 2;
    color: #f2f2f2;         
    margin-right: auto;
    text-align: center;
}
