.lg-contact-table .contact-row{
    font-family: 'Ubuntu', sans-serif;
    border: 2px white solid;
    padding: 20px;
}

.lg-contact-table{
    grid-column: 10 / 10;
    background: rgba(255,200,0,1);
    border-collapse: collapse;
    margin-left: 40px;
}

.contact-form{
    grid-column: 10 / 10;
    margin: auto;
    margin-top: 100px;
}

.contact-form > input, .contact-form > textarea{
    font-family: 'Ubuntu', sans-serif;
    font-size: 90%;
    border-radius: 5px;
    border: solid 2px rgba(255,200,0,1);
    padding: 10px;
}

.submit-btn{
    background: #282828;
    border-radius: 5px;
    color: rgba(255,200,0,1);
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 90%;
    cursor: pointer;
}

