body {
  border: 12px solid #666efd;
  margin: 0px;
  padding-bottom: 200px; }

nav {
  height: 64px;
  display: flex;
  justify-content: flex-end;
  padding-right: 55px; }
  nav a {
    color: rgba(0, 0, 0, 0.7);
    font-family: "Lexend Deca", sans-serif;
    margin: 45px 20px;
    display: inline-block;
    cursor: pointer; }
    nav a:hover {
      color: #666efd; }

#welcome {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 180px;
  height: max-content; }

.welcomeText {
  font-family: "Lexend Deca", sans-serif;
  color: rgba(0, 0, 0, 0.7); }
  .welcomeText h2 {
    font-size: 120%; }
  .welcomeText h3 {
    font-size: 100%;
    line-height: 1.6; }
  .welcomeText h4 {
    font-size: 80%; }

.christie {
  background: #666efd;
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  padding: 2px 5px;
  color: white;
  margin-left: 2px;
  border-radius: 4px; }

.scrollBtn {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #666efd;
  text-decoration: none;
  text-align: center;
  width: max-content;
  display: block;
  margin: 120px auto;
  border-bottom: 2px solid white;
  position: relative; }
  .scrollBtn:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0px;
    height: 2px;
    background: #666efd;
    transition: width .2s ease-in-out; }
  .scrollBtn:hover:after {
    width: 48px;
    transition: width .2s ease-in-out; }

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.project h4 {
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  font-size: 75%;
  display: block;
  text-align: center;
  margin: 0px 0px 10px; }
.project h5 {
  font-weight: 300;
  font-family: "Barlow", sans-serif;
  font-size: 65%;
  margin-top: 0px;
  display: block;
  text-align: center; }

.project {
  border-radius: 8px;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  font-size: 1.5rem;
  padding: 35px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: 700;
  width: 75%;
  margin: auto;
  margin-top: 160px;
  min-height: 400px;
  transition: transform .3s ease-in-out, padding .5s ease-in-out, opacity .3s ease-in-out; }
  .project:hover {
    opacity: .9;
    transform: translateY(-10px);
    transition: transform .3s ease-in-out, padding .5s ease-in-out, opacity .3s ease-in-out;
    padding: 55px; }

.revu {
  background: #3597EC; }

.lionplanner {
  background: #0c5bb0; }

.westArete {
  background: #464a57; }

.eventApp {
  background: #35adc4; }

.projectTitleWrap {
  width: 40%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.projectScreenWrap {
  display: inline-block;
  width: 55%;
  min-width: 300px; }

.revuLogo {
  width: 160px;
  display: block; }

.lpLogo {
  width: 250px;
  display: block;
  margin-bottom: 16px; }

.waLogo {
  width: 140px;
  display: block;
  margin-bottom: 16px; }

.eventLogo {
  width: 220px;
  display: block; }

.projectScreen {
  display: inline-block;
  width: 100%; }

@media screen and (max-width: 1157px) {
  .projectTitleWrap {
    width: 100%; }

  .projectScreenWrap {
    width: 100%; } }

/*# sourceMappingURL=welcome.css.map */
