@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: "lark-bold";
  src: url("../../fonts/LarkBold/font.woff") format('woff');
}

@font-face {
  font-family: "lark-reg";
  src: url("../../fonts/LarkRegular/font.woff") format('woff');
}

@font-face {
  font-family: "lark-light";
  src: url("../../fonts/LarkLight/font.woff") format('woff');
}

.img{
  font-size: 2rem;
  color: red;
  font-weight: bold;
}

html{
   scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body{
   margin: 0;
   font-family: 'DM Sans';
   color: #030055;
}

h1{
  font-size: 2rem;
  font-family: 'lark-bold';
  text-align: center;
}

h2{
  font-size: 1.5rem;
  font-family: 'lark-reg';
  text-align: center;
}

h3{
  color: #030055;
  opacity: .5;
  text-transform: uppercase;
  letter-spacing: 0.035rem;
  font-size: 1rem;
  margin: 0;
  white-space: nowrap;
  margin-right: 20px;
}

h4{
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 4.5rem;
  margin-bottom: 0;
}

h5{
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 1.8rem;
  display: inline-block;
}

h6{
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 0;
  margin-top: 0.625rem;
  /* border: 1px solid #FED02F;
  padding: 15px;
  border-radius: 10px; */
  /* background: #FFFAEA; */
}

p{
  font-size: 1rem;
  line-height: 1.7;
  margin-top: 1.25rem;
  margin-bottom: 0;
}

small{
  font-style: italic;
  line-height: 1.5;
  text-align: center;
}

button{
  background: #040554;
  font-size: 1rem;
  color: #EEE1FF;
  border-radius: 50px;
  border: none;
  padding: 3px 3px 3px 25px;
  font-family: 'DM Sans';
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: auto;
  cursor: pointer;
}

a.styled{
  font-weight: 700;
  text-decoration: none;
  color: #030055;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

a.styled::before{
  position: absolute;
  content: '';
  width: 110%;
  height: 50%;
  top: 61%;
  background: #EEE1FF;
  display: inline-block;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 20px;
  transition: all 0.25s ease-out;
}

@media (hover: hover) {
  a.styled:hover::before{
    top: 0%;
    height: 110%;
    width: 115%
  }

  a.styled:hover .link-arrow{
    animation: arrowHover 2s cubic-bezier(.6,0,.62,1) infinite;
  }

  .view-work-btn:hover{
    box-shadow: 0px 1px 30px 0px #04055460;
    top: -25px;
  }
}


a.styled.sm{
  font-size: 1rem;
  display: inline-block;
}
/* 
a.styled.sm::before{
  top: 52%;
} */

.link-arrow{
  margin-left: 5px;
  transition: all 0.25s ease-out;
  transform: translateY(5%);
}

a{
  text-decoration: none;
}

@keyframes arrowHover {
  0% {
    transform: translateY(5%);
  }

  50% {
    transform: translateY(85%);
  }

  100% {
    transform: translateY(5%);
  }
}

.highlight{
  background: linear-gradient(140deg, rgba(255,251,202,0.85) 0%, rgba(215,249,255,0.85) 50%, rgba(238,231,255,0.85) 100%);
  border-radius: 5px;
  padding: 0 5px;
}

.button-arrow{
  margin-left: 1rem;
}

/* nav */

.nav-wrap{
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(1, 1, 24, 0.15);
  padding: 55px;
  width: min-content;
}

.nav-links-wrap{
  display: flex;
  flex-direction: column;
}

.nav-link{
  text-decoration: none;
  /* color: #D20799; */
  /* padding: 5px 20px; */
  padding-bottom: 40px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'lark-reg';
  color: #030055;
}

.nav-link:active{
  background: #030055;
}

.nav-link:last-child{
  margin-right: 0;
  padding-bottom: 0;
}


/* welcome */

#welcome{
  height: 82vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background: #7f93e9;
}

.welcome-text {
  width: 75vw;
  max-width: 600px; 
  
}

.welcome-text h2 {
  font-size: 3rem;
  font-family: 'lark-bold';
  line-height: 1.25; 
  letter-spacing: -0.1rem;
}

.welcome-text h3{
  font-weight: normal;
  font-size: 1rem;
}

.welcome-text h2::selection, .welcome-text h2 span::selection, .welcome-text h3::selection{
  /* background-color: #D20799; */
  /* color:#FED02F; */
  color: white;
}


/* projects */

.proj-list-wrap{
  background: white;
  box-shadow: 0px 0px 10px 0px #00000026;
  border-radius: 30px;
  padding-top: 125px;
  position: relative;
  width: 100%;
}

.view-work-btn{
  box-shadow: 0px 1px 10px 0px #04055460;
  position: absolute;
  top: -20px;
  left: 0; 
  right: 0; 
  cursor: pointer;
  width: max-content;
  transition: box-shadow .25s ease-in-out, top .45s ease-in-out;
}

.proj-wrap{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.proj-text-wrap{
  width: 25%;
  min-width: 300px;
}

.proj-title{
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
  background: aliceblue;
  padding: 0 5px;
  border-radius: 4px;
  width: max-content;
}

.proj-description{
  font-family: 'lark-light';
  font-size: 25px;
  line-height: 1.5;
  margin-top: 10px;
  letter-spacing: -0.15rem;
}

.proj-img{
  max-width: 100%;
}


/* project pages */

.progress-bar-wrap div{
  border-radius: 20px;
  height: 3px!important;
  background: #8A96FF!important;
}

.content-wrap{
  width: 50%;
  min-width: 335px;
  margin: auto;
}

.search-hero-wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.search-hero{
  border-radius: 10px;
  box-shadow: 0px 4px 24px rgba(0,0,0,.15);
  display: inline-block;
  width: 45%;
}

.section-divider{
  display: flex;
  align-items: center;
  margin-top: 6.5rem;
}

.section-divider hr{
  border: 1px solid #EFEFEF;
  margin: 0;
  width: -webkit-fill-available;
}

#tldr h6{
  margin-top: 4.5rem;
}

#tldr button{
  margin-top: 2.5rem;
}

#tldr a{
  margin: auto;
  margin-top: 2.5rem;
}

.context, .reflection{
  background: #F8F2FF;
  border-radius: 10px;
  padding: 15px;
  margin-top: 4.5rem;
}

.context h4, .reflection h4{
  margin-top: 0;
}

.img-wrap{
  width: 100%;
  margin-top: 1.5rem;
  display: grid;
  place-items: center;
}

.img-wrap img{
  width: 80%;
  min-width: 300px;
}

.img-shadow{
  box-shadow: 0 4px 24px rgba(0,0,0,0.15);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.sm-img{
  width: 65%!important;
}

.search-placement{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.research-table{
  border-spacing: 0;
  margin-top: 1rem;
}

.research-table td, th{
  border: 1px solid #efefef;
  border-spacing: 0;
  padding: 1.5rem;
}

.research-table tr:first-child th:first-child {
  border-top-left-radius: 12px;
}

.research-table tr:first-child th:last-child {
  border-top-right-radius: 12px;
}

.research-table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

.research-table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

/* 
.source{
  position: relative;
}

.source::before{
  position: absolute;
  content: '* (Baymard #934: “During mobile testing, no method was more frequently used at the earliest stages of product exploration than on-site search: 60% of the subjects immediately used search as their first strategy on a mobile website’s homepage (compared to 40% who used the main navigation). In fact, some subjects were observed to instinctively tap into the field — often before page load was complete.”)';
  background: white;
  width: 200px;
  padding: 15px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.15);
  opacity: 0;
  display: hidden;
}

.source:focus::before{
  opacity: 1;
  display: block;
} */