@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: "lark-bold";
  src: url("../../fonts/LarkBold/font.woff") format('woff');
}

@font-face {
  font-family: "lark-reg";
  src: url("../../fonts/LarkRegular/font.woff") format('woff');
}

@font-face {
  font-family: "lark-light";
  src: url("../../fonts/LarkLight/font.woff") format('woff');
}

:root {
  --navy: #030055;
  --light-purple: #F8F2FF;
  --medium-purple: #EEE1FF;
  --purple: #707CE6;
  --light-gray: #EFEFEF;
}

.img{
  font-size: 2rem;
  color: red;
  font-weight: bold;
}

html{
   scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body{
   margin: 0;
   font-family: 'DM Sans';
   color: var(--navy);
   background: white;
}

h1{
  font-size: 2rem;
  font-family: 'DM Sans';
  text-align: center;
}

h2{
  font-size: 1.5rem;
  font-family: 'lark-reg';
  text-align: center;
}

h3{
  color: var(--navy);
  opacity: .5;
  text-transform: uppercase;
  letter-spacing: 0.035rem;
  font-size: 1rem;
  margin: 0;
  white-space: nowrap;
  margin-right: 20px;
}

h4{
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 4.5rem;
  margin-bottom: 0;
}

h5{
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 2rem;
  display: inline-block;
}

h6{
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 0;
  margin-top: 0.625rem;
}

p{
  font-size: 1rem;
  line-height: 1.7;
  margin-top: 1.25rem;
  margin-bottom: 0;
}

small{
  font-style: italic;
  line-height: 1.5;
  text-align: center;
}

button{
  background: var(--navy);
  font-size: 1rem;
  color: var(--light-purple);
  border-radius: 50px;
  border: none;
  padding: 3px 3px 3px 25px;
  font-family: 'DM Sans';
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: auto;
  cursor: pointer;
}

a.styled{
  font-weight: 700;
  text-decoration: none;
  color: var(--navy);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

a.styled::before{
  position: absolute;
  content: '';
  width: 110%;
  height: 50%;
  top: 61%;
  background: var(--medium-purple);
  display: inline-block;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 20px;
  transition: all 0.25s ease-out;
}

@media (hover: hover) {
  a.styled:hover::before{
    top: 0%;
    height: 110%;
    width: 115%
  }

  a.styled:hover .link-arrow{
    animation: arrowHover 2s cubic-bezier(.6,0,.62,1) infinite;
  }

  .view-work-btn:hover{
    box-shadow: 0px 1px 30px 0px #04055460;
    top: -25px;
  }
}


a.styled.sm{
  font-size: 1rem;
  display: inline-block;
}

.link-arrow{
  margin-left: 5px;
  transition: all 0.25s ease-out;
  transform: translateY(5%);
}

a{
  text-decoration: none;
  color: var(--navy)
}

@keyframes arrowHover {
  0% {
    transform: translateY(5%);
  }

  50% {
    transform: translateY(85%);
  }

  100% {
    transform: translateY(5%);
  }
}

.highlight{
  background: linear-gradient(140deg, rgba(255,251,202,0.85) 0%, rgba(215,249,255,0.85) 50%, rgba(238,231,255,0.85) 100%);
  border-radius: 5px;
  padding: 0 5px;
}

.button-arrow{
  margin-left: 1rem;
}

/* nav */

.nav-wrap{
  background: #8A96FF;
  background: #707CE6;
  box-shadow: 0 0 10px rgba(1, 1, 24, 0.15);
  padding: 3rem 5rem 3rem 3rem;
  width: min-content;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-50vw);

  display: none;
}

.nav-link{
  color: var(--navy);
  /* color: white; */
  color: var(--light-purple);
  display: block;
  width: max-content;
  text-decoration: none;
  margin-bottom: 3rem;
  border-radius: 25px;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'lark-bold';
  position: relative;
}

/* .nav-link:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 0;
  top: 100%;
  background: #040554;
  display: inline-block;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.15s ease-out;
}

.nav-link:hover:before{
  height: 100%;
  top: 0;
} */

.nav-link-secondary{
  color: var(--light-purple);
  display: block;
  width: max-content;
  text-decoration: none;
  margin-bottom: 1rem;
  /* text-transform: uppercase; */
  font-weight: bold;
}


/* welcome */

#welcome{
  height: 95vh;
  display: flex;
  align-items: flex-start;
  padding-top: 12vh;
  width: 100%;
  justify-content: center;
  background: var(--purple);
  background: #2560A6;
  position: fixed;
  top: 0;
  z-index: -10;
}

@keyframes welcomeFadeIn {
  0% {
    transform: translateY(6rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes fadeInUp-New {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0rem, 0);
    transform: translate3d(0, 0rem, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInUp-New {
  /* -webkit-animation-name: fadeInUp; */
  animation-name: welcomeFadeIn;
  animation-timing-function: ease;
}

.welcome-text {
  width: 65%;
}

.welcome-text h2 {
  font-size: 4rem;
  text-align: left;
  font-family: 'DM Sans';
  line-height: 1.25; 
  margin-bottom: 2rem;
  color: var(--light-purple);
  animation: welcomeFadeIn 1.2s ease;
}

.welcome-text h4{
  text-align: center;
  color: var(--light-purple);
  text-align: left;
}

.asterisk{
  font-weight: normal;
  font-size: 1.1rem;
  color: var(--light-purple);
  /* color: var(--navy); */
  opacity: 1;
  font-family: 'lark-reg'!important;
  text-transform: none;
  text-align: center;
  font-style: italic;
  text-align: left;
  transform: translateY(6rem);
    opacity: 0;
  animation: welcomeFadeIn 1.2s ease 0.25s forwards;
}

.welcome-text h2::selection, .welcome-text h2 span::selection, .welcome-text h3::selection{
  background-color: #D20799;
  color: var(--light-purple);
}


/* projects */

.proj-list-wrap{
  background: var(--light-purple);
  background: white;
  box-shadow: 0px 0px 10px 0px #00000026;
  border-radius: 30px;
  padding-top: 5rem;
  position: relative;
  width: 100%;
  margin-top: 91vh;

}

.view-work-btn{
  box-shadow: 0px 1px 10px 0px #04055460;
  position: absolute;
  top: -20px;
  left: 0; 
  right: 0; 
  cursor: pointer;
  width: max-content;
  transition: box-shadow .25s ease-in-out, top .45s ease-in-out;
}

.view-work-btn a{
  color: var(--medium-purple)!important;
}

.proj-wrap .animated{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem;
  height: 95vh;
  /* border-radius: 10px; */
}

.proj-wrap{
  overflow-y: hidden;
}

.proj-text-wrap{
  width: 20%;
  min-width: 300px;
  margin-right: 2rem;
}

.proj-title, .sm-proj-title a, .sm-proj-title{
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
  width: 100%;
  display: inline-block;
}

.sm-proj-title{
  text-align: center;
  margin-top: 0;
}

.proj-description{
  font-family: 'lark-light';
  font-size: 25px;
  line-height: 1.5;
  margin-top: 10px;
  text-align: left;
  /* letter-spacing: -0.15rem; */
}

.proj-img-wrap{
  width: 55%;
  min-width: 500px;
}

.proj-img-wrap img{
  width: 100%;
}

.search{
  background-color: rgba(26, 177, 100, 0.15);
  background-color: rgba(224, 242, 247, 1);
}

.nav-redesign{
  background-color: rgba(66, 118, 206, 0.15);
  background-color: rgba(119, 223, 170, 1);
}

.revu{
  background-color: rgba(251, 205, 93, 0.18);
  background-color: rgba(251, 205, 93, 1);
}

.lionplanner{
  background-color: rgba(12, 90, 176, 0.15);
  background-color: rgba(76, 151, 234, 1);
}

.sm-proj-list{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3rem 3rem 8rem 3rem;
  max-width: 100%;
  overflow-x: scroll;
}

.sm-proj-header{
  margin-left: 3rem;
  margin-top: 6rem;
}

.sm-proj-wrap{
  width: max-content;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform .5s ease-out;
  transform: translateY(0);
  cursor: pointer;
}

.sm-proj-wrap a{
  width: min-content;
}

@media (hover: hover) {
  .sm-proj-wrap:hover{
    transform: translateY(-1rem)
  }
}

.sm-proj-img{
  height: 15rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

.sm-proj-title{
  text-align: left!important;
  margin-bottom: 1rem;
}

.sm-proj-description{
  width: 90%;
  display: block;
  text-align: left;
}

.external-link{
  width: 0.8rem;
  display: inline;
  margin-left: 0.2rem;
}


@media screen and (max-width: 1024px) {
  .proj-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0rem;
    height: max-content;
  }

  .proj-img-wrap{
    width: 75%;
    min-width: 300px;
  }

  .proj-text-wrap{
    width: 50%;
    min-width: 300px;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  .proj-list-wrap{
    padding-top: 2rem;
  }
}

@media screen and (max-width: 960px) {
  #welcome{
    /* padding-top: 8vh; */
  }

  .welcome-text {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  #welcome{
    height: 86vh;
  }

  .welcome-text {
    width: 85%;
  }

  .welcome-text h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .welcome-text h4{
    
  }
  
  .asterisk{
    font-size: 1rem;
    white-space: break-spaces;
  }

  .proj-list-wrap{
    margin-top: 82vh;
  }
  
  .proj-wrap{
    overflow-x: hidden;
  }

  .proj-img-wrap{
    width: 160%;
    align-self: flex-end;
    padding-right: 3rem;
  }

}

/* project pages */

.progress-bar-wrap div{
  border-radius: 20px;
  height: 4px!important;
  background: #8A96FF!important;
}

.page-wrap{
  position: relative;
}

.over-page{
  z-index: 1;
  margin-bottom: 50vh;
  position: relative;
  background: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.25);
  padding: 0 0 10rem 0;
}

.under-page{
  background: linear-gradient(140deg, rgba(255,251,202,0.85) 0%, rgba(215,249,255,0.85) 50%, rgba(238,231,255,0.85) 100%);
  background: var(--purple);
  position: fixed;
  bottom: 0;
  height: 55vh;
  width: 100%;
  z-index: -10;
  color: white;
}

.over-page{
  /* margin-bottom: 50vh; */
}

.proj-header{
  padding: 5rem 3rem;
  position: relative;
  /* display: flex; */
  /* align-items: center; */
  height: 75vh;
}

.proj-header h1{
  /* font-size: 3rem; */
  /* text-align: left; */
  /* width: 40%; */
  /* margin-right: 3rem; */
}

/* .proj-header::before{
  content: '';
  background: url('../public/assets/west-arete/dashboard.png');
  background-size: inherit;
  background-position: center;
  z-index: -1;
  filter: blur(40px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: .4;
} */

.content-wrap{
  width: 50%;
  margin: auto;
}

.search-hero-wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.search-hero{
  border-radius: 10px;
  box-shadow: 0px 4px 24px rgba(0,0,0,.15);
  display: inline-block;
  width: 45%;
}

.section-divider{
  display: flex;
  align-items: center;
  margin-top: 6.5rem;
}

.section-divider hr{
  border: 1px solid var(--light-gray);
  margin: 0;
  width: -webkit-fill-available;
}

#tldr h6{
  margin-top: 4rem;
}

#tldr button{
  margin-top: 2.5rem;
}

#tldr a{
  margin: auto;
  margin-top: 2.5rem;
}

.context, .reflection{
  background: var(--light-purple);
  border-radius: 10px;
  padding: 15px;
  margin-top: 4.5rem;
}

.context h4, .reflection h4{
  margin-top: 0;
}

.subs-caption{
  margin-top: 1rem;
}

.img-wrap{
  width: 100%;
  margin-top: 2.5rem;
  display: grid;
  place-items: center;
}

.img-wrap img{
  width: 90%;
  min-width: 300px;
}

.img-shadow{
  box-shadow: 0 4px 24px rgba(0,0,0,0.15);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.back-to-back-img{
  margin-top: 3.5rem;
}

.sm-img{
  width: 65%!important;
}

.search-placement{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.research-table{
  border-spacing: 0;
  margin-top: 1rem;
}

.research-table td, th{
  border: 1px solid var(--light-gray);
  border-spacing: 0;
  padding: 1.5rem;
}

.research-table tr:first-child th:first-child {
  border-top-left-radius: 12px;
}

.research-table tr:first-child th:last-child {
  border-top-right-radius: 12px;
}

.research-table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

.research-table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

/* Swiper carousel */

.swiper{
  padding-bottom: 40px!important;
}

.swiper-pagination{
  bottom: 0!important;
}

.swiper-button-next, .swiper-button-prev{
  top: 43%!important;
  color: var(--navy)!important;
}

.swiper-button-next{
  margin-right: -10px!important;
}

.swiper-button-prev{
  margin-left: -10px!important;
}

.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 2rem!important;
}

.carousel-img-m{
  width: 50%!important;
  width: 300px!important;
}

.carousel-img-d{
  width: 90%!important;
  /* max-width: 320px; */
}

.slide-caption{
  width: 60%;
  min-width: 300px
}

.desktop-final{
  margin-top: 4rem;
}

.desktop-swiper-wrap{
  width: 80%;
  min-width: 345px;
  margin: auto;
}

.desktop-swiper-wrap .swiper-button-prev{
  margin-left: -10px!important;
}

.desktop-swiper-wrap .swiper-button-next{
  margin-right: -15px!important;
}


.one-img-hero-wrap{
  width: 65%!important;
  margin: auto;
  margin-bottom: 0;
}

.one-img-hero-wrap img{
  width: 100%;
}

.user-needs{
  margin-left: 2rem;
}

.multi-img-wrap{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.multi-img-wrap img{
  width: 40%!important;
  min-width: 300px;
}

.feature{
  margin-top: 5rem;
}

.team-img{
  margin-top: -2rem;
}

@media screen and (min-width: 400px) {
  .context, .reflection{
    padding: 30px;
  }
}

@media screen and (max-width: 968px) {
  .content-wrap{
    width: 75%;
  }
}

@media screen and (max-width: 400px) {
  .content-wrap{
    width: 88%;
  }
}