@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,700&display=swap');

@font-face {
  font-family: "lark-bold";
  src: url("../../fonts/LarkBold/font.woff") format('woff');
}

@font-face {
  font-family: "lark-reg";
  src: url("../../fonts/LarkRegular/font.woff") format('woff');
}

@font-face {
  font-family: "lark-light";
  src: url("../../fonts/LarkLight/font.woff") format('woff');
}

html{
   scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body{
   margin: 0;
   font-family: 'DM Sans';
   color: #030055;
}

/* nav */

.nav-wrap{
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(1, 1, 24, 0.15);
  padding: 55px;
  width: min-content;
}

.nav-links-wrap{
  display: flex;
  flex-direction: column;
}

.nav-link{
  text-decoration: none;
  /* color: #D20799; */
  /* padding: 5px 20px; */
  padding-bottom: 40px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'lark-reg';
  color: #030055;
}

.nav-link:active{
  background: #030055;
}

.nav-link:last-child{
  margin-right: 0;
  padding-bottom: 0;
}


/* welcome */

#welcome{
  height: 82vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background: #7f93e9;
}

.welcome-text {
  width: 75vw;
  max-width: 600px; 
  
}

.welcome-text h2 {
  font-size: 3rem;
  font-family: 'lark-bold';
  line-height: 1.25; 
  letter-spacing: -0.1rem;
}

.welcome-text h3{
  font-weight: normal;
  font-size: 1rem;
}

.welcome-text h2::selection, .welcome-text h2 span::selection, .welcome-text h3::selection{
  /* background-color: #D20799; */
  /* color:#FED02F; */
  color: white;
}


/* projects */

.proj-list-wrap{
  background: white;
  box-shadow: 0px 0px 10px 0px #00000026;
  border-radius: 30px;
  padding-top: 125px;
  position: relative;
  width: 100%;
}

.view-work-btn{
  background: #040554;
  border-radius: 50px;
  color: #EEE1FF;
  box-shadow: 0px 1px 10px 0px #04055460;
  border: none;
  padding: 12px 20px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  top: -20px;
  left: 0; 
  right: 0; 
  margin: auto;
  cursor: pointer;
  width: max-content;
  transition: box-shadow .25s ease-in-out, top .45s ease-in-out;
}

.view-work-btn:hover{
  box-shadow: 0px 1px 30px 0px #04055460;
  top: -25px;
}

.proj-wrap{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.proj-text-wrap{
  width: 25%;
  min-width: 300px;
}

.proj-title{
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
  background: aliceblue;
  padding: 0 5px;
  border-radius: 4px;
  width: max-content;
}

.proj-description{
  font-family: 'lark-light';
  font-size: 25px;
  line-height: 1.5;
  margin-top: 10px;
  letter-spacing: -0.15rem;
}

.proj-img{
  max-width: 100%;
}


/* project pages */
.content-wrap{
  width: 50%;
  min-width: 300px;
  margin: auto;
}

h1{
  font-size: 2rem;
  font-family: 'lark-bold';
  text-align: center;
}

h2{
  font-size: 1.5rem;
  font-family: 'lark-reg';
  text-align: center;
}

h3{
  color: #030055;
  opacity: .5;
  text-transform: uppercase;
  letter-spacing: 0.035rem;
  font-size: 1rem;
  margin-top: 6.5rem;
}

h4{
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 4.5rem;
}

h5{
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 1.8rem;
}

h6{
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 0;
  margin-top: 0.625rem;
}

p{
  font-size: 1rem;
  line-height: 1.7;
  margin-top: 1.25rem;
}

.hero-wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.search-hero{
  border-radius: 10px;
  box-shadow: 0px 4px 24px rgba(0,0,0,.15);
  display: inline-block;
  width: 45%;
}