#revu, #lionPlanner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  height: max-content; }

.projectIntro {
  font-family: "sofia-pro", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 100px;
  width: 60%; }
  .projectIntro h2 {
    font-size: 120%;
    color: #0e68c7; }
  .projectIntro h3 {
    font-size: 100%;
    line-height: 1.6;
    font-family: "sofia-pro", sans-serif;
    font-weight: 400; }
  .projectIntro h4 {
    font-size: 80%; }

.projectTags {
  display: flex;
  flex-wrap: wrap; }

.projectTag {
  background: #0e68c7;
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  padding: 2px 8px 5px;
  color: white;
  margin: 5px 10px 5px 0px;
  border-radius: 4px;
  font-size: 80%;
  word-wrap: break-word;
  white-space: pre; }

.projectDetails {
  font-family: "sofia-pro", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .projectDetails h4 {
    font-family: "sofia-pro", sans-serif;
    font-size: 110%;
    font-weight: 400;
    opacity: .5;
    margin-top: 120px; }
  .projectDetails h5 {
    font-size: 100%;
    margin-bottom: 0px;
    margin-top: 8px;
    line-height: 1.5;
    font-family: "sofia-pro", sans-serif;
    font-weight: 400; }

.addInfo {
  display: flex;
  justify-content: space-around;
  padding: 0px 25px;
  flex-wrap: wrap; }

.info {
  max-width: 450px;
  width: 48%;
  min-width: 250px; }

.introImgWrap {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 0px 55px;
  box-sizing: border-box;
  align-items: center; }
  .introImgWrap .introImg {
    width: 50%; }
    .introImgWrap .introImg:first-child {
      width: 30%; }
    .introImgWrap .introImg img {
      width: 100%; }

.teamMember {
  display: flex;
  flex-wrap: wrap; }
  .teamMember .name {
    color: #0e68c7; }
  .teamMember h5 {
    margin: 8px 12px 0px 0px; }

.problemStatement {
  width: 100%;
  padding: 85px 200px;
  background: #0e68c7;
  color: white;
  box-sizing: border-box;
  font-family: "sofia-pro", sans-serif;
  margin-top: 150px; }
  .problemStatement h4 {
    margin-top: 0px;
    font-weight: 200;
    opacity: 1; }
  .problemStatement h3 {
    font-weight: 400; }

.probList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.probListItem {
  margin: 0px 20px;
  width: 20%;
  min-width: 180px; }
  .probListItem h5 {
    font-family: "sofia-pro", sans-serif; }
  .probListItem h4 {
    opacity: 1;
    color: #0e68c7;
    width: max-content;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 100%;
    font-family: "sofia-pro", sans-serif; }

.users h3, .features h3, .goals h3, .conclusion h3, .process h3 {
  width: 100%;
  text-align: center;
  margin: 150px 0px 40px 0px;
  text-transform: lowercase;
  font-family: "sofia-pro", sans-serif;
  font-size: 150%;
  font-weight: 200; }

.userList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 120px; }

.userListItem {
  background: rgba(0, 0, 0, 0.025);
  padding: 25px 45px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .userListItem h4 {
    margin-top: 0px;
    opacity: 1;
    font-family: "sofia-pro", sans-serif; }
  .userListItem h5 {
    font-family: "sofia-pro", sans-serif; }

.needs {
  font-family: "sofia-pro", sans-serif;
  padding: 20px;
  margin-top: 25px;
  color: #0e68c7;
  font-weight: 500; }
  .needs p {
    margin-top: 0; }
  .needs li {
    list-style: none; }

.goalsList {
  display: flex;
  width: 100%;
  padding: 85px 50px;
  background: #0e68c7;
  color: white;
  box-sizing: border-box;
  font-family: "sofia-pro", sans-serif;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 120px; }

.goalsListItem {
  padding: 25px 45px;
  width: 25%; }
  .goalsListItem h4 {
    margin-top: 0px;
    opacity: 1;
    font-family: "sofia-pro", sans-serif; }
  .goalsListItem h5 {
    font-family: "sofia-pro", sans-serif; }

.featuresList {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
  flex-wrap: wrap;
  padding: 25px;
  align-items: center; }

.featuresListItems {
  width: 25%;
  min-width: 250px; }
  .featuresListItems h4 {
    margin-top: 40px;
    color: #0e68c7;
    opacity: 1; }

.featureHighlight {
  background: rgba(0, 0, 0, 0.025);
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 35px; }

.fullScreenshot {
  width: 50%;
  height: auto;
  min-width: 550px;
  margin: 50px 25px; }
  .fullScreenshot img {
    width: 100%; }

.smScreenshot {
  display: flex;
  width: 60%;
  height: auto;
  min-width: 550px;
  justify-content: space-around;
  min-height: max-content; }
  .smScreenshot .smImgWrap {
    width: 45%; }

.smImgWrap img {
  width: 100%; }

.question {
  width: 100%;
  padding: 85px 200px;
  background: #0e68c7;
  color: white;
  box-sizing: border-box;
  font-family: "sofia-pro", sans-serif;
  margin-top: 150px; }
  .question h4 {
    opacity: 1;
    margin-top: 0px;
    font-family: "sofia-pro", sans-serif; }
  .question h5 {
    font-family: "sofia-pro", sans-serif; }

.survey .featuresList {
  background: rgba(0, 0, 0, 0.025);
  margin-top: 0px;
  align-items: center; }

.pageFeatures {
  margin-top: 0px; }
  .pageFeatures .featuresListItems {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .pageFeatures .featuresListItems .featuresListItem {
      width: 45%;
      max-width: 500px;
      min-width: 350px;
      margin: 20px; }

.numLabel {
  display: inline-block;
  padding: 1px 7px 3px 8px;
  background: #0e68c7;
  color: white;
  border-radius: 35px;
  margin-right: 4px; }

.fullScreenImg {
  width: 75%;
  margin: auto;
  margin-top: 20px; }
  .fullScreenImg img {
    width: 100%; }

.conclusion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 25px 80px;
  background: #0e68c7;
  margin-top: 100px;
  color: white;
  align-items: center; }

.conclusionText {
  width: 35%;
  min-width: 350px;
  height: max-content; }
  .conclusionText h5 {
    font-family: "sofia-pro", sans-serif;
    color: white; }
  .conclusionText h4 {
    font-family: "sofia-pro", sans-serif;
    color: white;
    opacity: 1;
    margin-top: 60px;
    font-size: 100%; }

.teamImg {
  width: 30%;
  position: relative;
  min-width: 350px;
  padding: 20px;
  margin-top: 50px; }
  .teamImg h5 {
    font-family: "sofia-pro", sans-serif; }
  .teamImg img {
    width: 100%;
    filter: contrast(120%) saturate(0);
    border-radius: 4px;
    position: relative;
    z-index: 0; }

.backToTop {
  text-decoration: none;
  width: 100%;
  margin-top: 80px;
  text-align: center;
  font-family: "sofia-pro", sans-serif;
  color: white; }

.userSpan {
  font-family: "sofia-pro", sans-serif;
  background-color: rgba(0, 0, 0, 0.025);
  padding: 0px 4px; }

.problemSolved {
  font-family: "sofia-pro", sans-serif;
  background-color: rgba(0, 0, 0, 0.025);
  padding: 0px 4px; }

.croppedScreenshot {
  width: 50%;
  min-width: 400px;
  margin-top: 50px;
  margin-bottom: 50px; }

.tinyImgWrap {
  width: 50%;
  min-width: 400px;
  margin-top: 40px; }
  .tinyImgWrap img {
    width: 100%; }

.imgGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .imgGroup img {
    margin-top: 50px;
    min-width: 450px;
    object-fit: contain;
    width: 45%; }

.resourceImg {
  width: 70% !important;
  margin-top: 100px !important; }

.processText {
  width: 80%; }

.skill {
  color: #3597EC;
  font-family: "sofia-pro", sans-serif; }

@media screen and (max-width: 532px) {
  .info {
    max-width: auto;
    min-width: 250px;
    width: 100%; }

  .goalsList {
    padding: 45px 45px; }

  .teamImg {
    min-width: auto;
    width: 80%; }

  .conclusionText {
    min-width: auto;
    width: 80%; } }
@media screen and (max-width: 647px) {
  .fullScreenshot, .croppedScreenshot, .imgGroup > img, .tinyImgWrap {
    min-width: auto;
    width: 80%; }

  .smScreenshot {
    min-width: auto; }

  .probListItem {
    width: 80%; }

  .featureHighlight {
    padding: 25px; } }
@media screen and (max-width: 838px) {
  .problemStatement, .question {
    padding: 45px 45px; } }
@media screen and (max-width: 921px) {
  .userList {
    justify-content: center; }

  .userListItem {
    width: 80%; }

  .logo {
    display: none; }

  .final {
    width: 90% !important; } }
@media screen and (max-width: 1205px) {
  .goalsListItem {
    width: 80%; } }

/*# sourceMappingURL=lp.css.map */
