@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

$brightPurple: rgb(102,110,253);
$dkGray: rgba(0,0,0,.7);
$lexend: 'Lexend Deca', sans-serif;
$barlow: 'Barlow', sans-serif;
$revuBlue: #3597EC;
$lpBlue: #0e68c7;
$waPurple: #3e50c2;
$eventTeal: #35adc4;
$ltGray: rgba(0,0,0,.025);


body{
    border: 10px solid $brightPurple;
    margin: 0px;
    padding-bottom: 200px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
}

@keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}

@keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}

@keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}

main{
    animation: .8s ease-in-out slideUp;
}

.navContent{
    width: 100%;
    padding: 0px 25px 0px 45px;
}

nav{
    height: 64px;
    display: flex;
    justify-content: flex-end;

    a{
        color: $dkGray;
        font-family: $barlow; 
        margin: 45px 20px;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        font-size: 115%;

        &:hover{
            color: $brightPurple;
        }
    }
}

.navLinks{
    float: right;
    animation: .75s ease-in-out slideInRight;
}

#welcome{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 180px;
    height: max-content;
}

.welcomeText{
    font-family: $lexend;
    color: $dkGray;

    
    h2{
        font-size: 120%;
    }
    h3{
        font-size: 100%;
        line-height: 1.6;
        font-family: $barlow;
        font-weight: 400;
    }
    h4{
        font-size: 80%;
    }
}

.christie{
    background: $brightPurple;
    font-family: $barlow;
    font-weight: 100;
    padding: 2px 5px;
    color: white;
    margin-left: 2px;
    border-radius: 4px;
}

.scrollBtn{
    font-family: $barlow;
    font-weight: 600;
    color: $brightPurple;
    text-decoration: none;
    text-align: center;
    width: max-content;
    display: block;
    margin: 120px auto;
    border-bottom: 2px solid white;
    position: relative;

    &:after{
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0px;
        height: 2px;
        background: $brightPurple;
        transition: width .2s ease-in-out;
    }

    &:hover:after{
        width: 48px;
        transition: width .2s ease-in-out;
    }
    
}

#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;

    a{
        text-decoration: none;
    }
}

.project{
    h4{
        font-weight: 400;
        font-family: $barlow;
        font-size: 75%;
        display: block;
        text-align: center;
        margin: 0px 0px 10px;
    }
    h5{
        font-weight: 300;
        font-family: $barlow;
        font-size: 65%;
        margin-top: 0px;
        display: block;
        text-align: center;
    }
}


.project{
    border-radius: 8px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    font-size: 1.5rem;
    padding: 35px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: 700;
    width: 75%;
    margin: auto;
    margin-top: 140px;
    min-height: 400px;
    transition: transform .3s ease-in-out,
                    padding .5s ease-in-out,
                    opacity .3s ease-in-out;

    &:hover{
        opacity: .9;
        transform: translateY(-10px);
        transition: transform .3s ease-in-out,
                    padding .5s ease-in-out,
                    opacity .3s ease-in-out;
        padding: 55px;
    }
}

.revu{
    background: $revuBlue;
    //background: linear-gradient(135deg, rgba(53,151,236,0.6488970588235294) 0%, rgba(53,151,236,1) 62%);
}

.lionplanner{
    background: $lpBlue;
    //background: linear-gradient(135deg, rgba(12,91,176,0.75) 0%, rgba(12,91,176,1) 62%);
}

.westArete{
    background: #3e50c2;
    //background: linear-gradient(135deg, rgba(70,74,87,0.75) 0%, rgba(70,74,87,1) 62%);
}

.eventApp{
    background: $eventTeal;
    //background: linear-gradient(135deg, rgba(70,74,87,0.75) 0%, rgba(70,74,87,1) 62%);
}

.projectTitleWrap{
    width: 40%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.projectScreenWrap{
    display: inline-block;
    width: 55%;
    min-width: 300px;
}

.revuLogo{
    width: 160px;
    display: block;
}

.lpLogo{
    width: 250px;
    display: block;
    margin-bottom: 16px;
}

.waLogo{
    width: 140px;
    display: block;
    margin-bottom: 16px;
}

.eventLogo{
    width: 220px;
    display: block;
}


.projectScreen{
    display: inline-block;
    width: 100%;
}

.homeLink{
    float: left;
    font-size: 180%;
    padding: 4px 10px;
    animation: .75s ease-in-out slideInLeft;


    &:hover{
        color: white;
    }
}


@media screen and (max-width: 1157px){
    .projectTitleWrap{
        width: 100%;
    }
    
    
    .projectScreenWrap{
        width: 100%;
    }
}


// RESUME

#resume{
    width: 100%;
    padding-top: 150px;
    height: max-content;
    font-family: $lexend;
    color: $dkGray;
    display: flex;
    align-items: center;
    flex-direction: column;

    img{
        width: 50%;
        margin: auto;
        border-radius: 8px;
        box-shadow: 0px 4px 26px $ltGray;
    }
}

.downloadResume{
    border-radius: 4px;
    background-color: $brightPurple;
    color: white;
    font-family: $barlow;
    font-weight: 400;
    border: none;
    font-size: 100%;
    padding: 6px 12px;
    cursor: pointer;
    transition: opacity 1s;

    &:hover{
        opacity: .8;
        
    }
}

.downloadBtnWrap{
    margin-top: 45px;
    cursor: pointer;
}

footer{
    position: absolute;
    width: 100%;
    color: $brightPurple;
    font-family: $barlow;
    padding: 45px 25px;
    bottom: 0;
    box-sizing: border-box;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    span{
        margin: 10px 10px 0px;

    }

    a{
        color: $brightPurple;
    }
}

@media screen and (max-width: 430px){
    .navContent{
        a{
            margin: 20px 8px;
        }
    }

    .navLinks{
        font-size: 85%;
    }

    .homeLink{
        font-size: 140%;
        padding: 4px 8px;
    }

    .navContent{
        padding: 0px 15px;
    }

}

@media screen and (max-width: 532px){
    .project{
        width: 85%;
    }

    .projectScreenWrap{
        min-width: auto;
    }

}

@media screen and (max-width: 885px){
    #resume{
    padding-top: 75px;

    img{
       width: 80%;
    }
}
}