@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
body {
  border: 10px solid #666efd;
  margin: 0px;
  padding-bottom: 200px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh; }

a {
  text-decoration: none; }

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
main {
  animation: .8s ease-in-out slideUp; }

.navContent {
  width: 100%;
  padding: 0px 25px 0px 45px; }

nav {
  height: 64px;
  display: flex;
  justify-content: flex-end; }
  nav a {
    color: rgba(0, 0, 0, 0.7);
    font-family: "Barlow", sans-serif;
    margin: 45px 20px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: 115%; }
    nav a:hover {
      color: #666efd; }

.navLinks {
  float: right;
  animation: .75s ease-in-out slideInRight; }

#welcome {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 180px;
  height: max-content; }

.welcomeText {
  font-family: "Lexend Deca", sans-serif;
  color: rgba(0, 0, 0, 0.7); }
  .welcomeText h2 {
    font-size: 120%; }
  .welcomeText h3 {
    font-size: 100%;
    line-height: 1.6;
    font-family: "Barlow", sans-serif;
    font-weight: 400; }
  .welcomeText h4 {
    font-size: 80%; }

.christie {
  background: #666efd;
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  padding: 2px 5px;
  color: white;
  margin-left: 2px;
  border-radius: 4px; }

.scrollBtn {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #666efd;
  text-decoration: none;
  text-align: center;
  width: max-content;
  display: block;
  margin: 120px auto;
  cursor: pointer;
  border-bottom: 2px solid white;
  position: relative;
  z-index: 100; }
  .scrollBtn:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0px;
    height: 2px;
    background: #666efd;
    transition: width .2s ease-in-out;
    z-index: 1; }
  .scrollBtn:hover:after {
    width: 48px;
    transition: width .2s ease-in-out; }

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .projects a {
    text-decoration: none; }

.project h4 {
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  font-size: 75%;
  display: block;
  text-align: center;
  margin: 0px 0px 10px; }
.project h5 {
  font-weight: 300;
  font-family: "Barlow", sans-serif;
  font-size: 65%;
  margin-top: 0px;
  display: block;
  text-align: center; }

.project {
  border-radius: 8px;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  font-size: 1.5rem;
  padding: 35px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: 700;
  width: 75%;
  margin: auto;
  margin-top: 140px;
  min-height: 400px;
  transition: transform .3s ease-in-out, padding .5s ease-in-out, opacity .3s ease-in-out; }
  .project:hover {
    opacity: .9;
    transform: translateY(-10px);
    transition: transform .3s ease-in-out, padding .5s ease-in-out, opacity .3s ease-in-out;
    padding: 55px; }

.revu {
  background: #3597EC; }

.lionplanner {
  background: #0e68c7; }

.westArete {
  background: #3e50c2; }

.eventApp {
  background: #35adc4; }

.mentorApp {
  background: #162534; }
  .mentorApp .projectScreenWrap {
    width: 52% !important; }

.projectTitleWrap {
  width: 40%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.projectScreenWrap {
  display: inline-block;
  width: 55%;
  min-width: 300px; }

.revuLogo {
  width: 160px;
  display: block; }

.lpLogo {
  width: 250px;
  display: block;
  margin-bottom: 16px; }

.waLogo {
  width: 140px;
  display: block;
  margin-bottom: 16px; }

.eventLogo {
  width: 220px;
  display: block; }

.projectScreen {
  display: inline-block;
  width: 100%; }

.homeLink {
  float: left;
  font-size: 180%;
  padding: 4px 10px;
  animation: .75s ease-in-out slideInLeft; }
  .homeLink:hover {
    color: white; }

@media screen and (max-width: 1157px) {
  .projectTitleWrap {
    width: 100%; }

  .projectScreenWrap {
    width: 100%; } }
#resume {
  width: 100%;
  padding-top: 150px;
  height: max-content;
  font-family: "Lexend Deca", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  flex-direction: column; }
  #resume img {
    width: 50%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.025); }

.downloadResume {
  border-radius: 4px;
  background-color: #666efd;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  border: none;
  font-size: 100%;
  padding: 6px 12px;
  cursor: pointer;
  transition: opacity 1s; }
  .downloadResume:hover {
    opacity: .8; }

.downloadBtnWrap {
  margin-top: 45px;
  cursor: pointer; }

footer {
  position: absolute;
  width: 100%;
  color: #666efd;
  font-family: "Barlow", sans-serif;
  padding: 45px 25px;
  bottom: 0;
  box-sizing: border-box;
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  footer span {
    margin: 10px 10px 0px; }
  footer a {
    color: #666efd; }

@media screen and (max-width: 430px) {
  .navContent a {
    margin: 20px 8px; }

  .navLinks {
    font-size: 85%; }

  .homeLink {
    font-size: 140%;
    padding: 4px 8px; }

  .navContent {
    padding: 0px 15px; } }
@media screen and (max-width: 532px) {
  .project {
    width: 85%; }

  .projectScreenWrap {
    min-width: auto; } }
@media screen and (max-width: 885px) {
  #resume {
    padding-top: 75px; }
    #resume img {
      width: 80%; } }

/*# sourceMappingURL=welcome.css.map */
